{% extends 'base.html' %}
{% block content %}

<h1>About the Eventi</h1>
<hr>
<p>Welcome to Eventi, the platform where event creators and attendees come together! Whether you're hosting a conference, party, wedding, or any other</p>
<p>event, Eventi allows you to effotlessly create and manage your event. As an event organizer, you can set up your event details, promote it, and open up</p>
<p>booking for others to join. Attendees can easily browse through a variety of events, book their spots, and enjoy a seamless experience. With Eventi,</p>
<p>creating, discovering, and! Participating in events has never been easier.</p>
<br>
<h4> Let's make your event a success.</h4>


{% endblock %}