{% extends 'base.html' %}

{% block content %}

<div class="home-container">
    <div class="flex-container">
        <div class="home-page">

            <div class="home-text">
                <h1 class="hh1">Wlecome To Eventi</h1>
                <p>CREATE, MANAGE, AND SHARE YOUR EVENTS</p>
                <p>WHILE ALLOWING OTHERS TO EASILY BOOK AND JOIN.</p>
                <h4 class="hh1">MAKE EVERY EVENT A SUCCESS!</h4>
            </div>

            <div class="home-image">
                {% load static %}
                <img src="{% static 'images/home_page.png' %}" alt="Eventi Homepage" class="home-img">
            </div>
        </div>
    </div>
</div>
{% endblock %}